<div class="container mt-5">

<h2>Add Book</h2>

<form (ngSubmit)="addBook()">

<div class="mb-3">
<label class="form-label">Title</label>
<input type="text" class="form-control" [(ngModel)]="book.title" name="title">
</div>

<div class="mb-3">
<label class="form-label">Author</label>
<input type="text" class="form-control" [(ngModel)]="book.author" name="author">
</div>

<div class="mb-3">
<label class="form-label">Description</label>
<textarea class="form-control" [(ngModel)]="book.description" name="description"></textarea>
</div>

<div class="mb-3">
<label class="form-label">Upload Image</label>
<input type="file" class="form-control" (change)="selectFile($event)">
</div>

<button class="btn btn-success">
Save Book
</button>

</form>

</div>