<input
type="text"
placeholder="Search books..."
[(ngModel)]="searchText"
class="search-box">
<div class="page">
<table class="book-table">

<thead>
<tr>
<th>Image</th>
<th>Title</th>
<th>Author</th>
<th>Description</th>
<th>Action</th>
</tr>
</thead>

<tbody>

<tr *ngFor="let book of books.slice((currentPage-1)*itemsPerPage, currentPage*itemsPerPage)">

<td>
<img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" width="40">
</td>

<td>{{book.title}}</td>

<td>{{book.author}}</td>

<td>{{book.description}}</td>

<td>
<button routerLink="/update" [queryParams]="{id: book.id}" class="edit-btn">
✏️ Edit
</button>

<button (click)="delete(book.id)" class="delete-btn">
🗑 Delete
</button>
</td>

</tr>

</tbody>

</table>

</div>
<div class="pagination">

<button (click)="currentPage = currentPage - 1" [disabled]="currentPage==1">
Previous
</button>

<span>Page {{currentPage}}</span>

<button (click)="currentPage = currentPage + 1"
[disabled]="currentPage*itemsPerPage >= books.length">
Next
</button>

</div>